<div class="jumbotron">

<h2> Hier kannst Du deine selbst gebastelten Sachen hochladen!</h2>
<p class="lead">
    Dafür brauchst Du dich nur anzumelden
</p>
<%= link_to "Jetzt Anmelden", new_user_session_path , class: "btn btn-lg btn-success" %>

<br><br>


<div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div>





</div>

