<div class="jumbotron">
	<link type="text/css" rel="stylesheet" href="home.css"/>
<h2> Hier kannst Du deine selbst gebastelten Sachen hochladen!</h2>
<p class="lead">
    Dafür brauchst Du dich nur anzumelden
</p>
<%= link_to "Jetzt Anmelden", '#', class: "btn btn-lg btn-success" %>
</div>

<div class="row marketing">

<div class="container">

  <div class="row">
    <div class="page-header text-center">
 
    </div>
    <div class="span6 offset3">
  
<div id="carousel_fade" class="carousel slide carousel-fade">
	<div class="carousel-inner">
				
		<div class="item active">
			<img src=<%= link_to image_tag("Tasche.jpg", alt: "Gallery") %>
		</div>
					
		<div class="item ">
			<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
		</div>
					
					<div class="item ">
			<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
		</div>

		<div class="item ">
			<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
		</div>

	</div>
	<a class="carousel-control left btn-control " href="#carousel_fade" data-slide="prev">‹</a>
	<a class="carousel-control right btn-control" href="#carousel_fade" data-slide="next">›</a>
	</div>

    </div>
</div>
</div>
<div class="container">

  <div class="row">

  </div>











