<div class="jumbotron">

<h2> Hier kannst Du deine selbst gebastelten Sachen hochladen!</h2>
<p class="lead">
    Dafür brauchst Du dich nur anzumelden
</p>
<%= link_to "Jetzt Anmelden", new_user_session_path , class: "btn btn-lg btn-success" %>

<br><br>


<div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("1349641434-948.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1349642502-380.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("1357223864-181.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1360011639-189.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("1364389218-305.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1365968890-570.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("1368169623-586.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1372189039-473.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("1384497961-101.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1384552819-126.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("1390400678-417.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("1390401217-13.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("1390931163-455.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div><div class="item">
	<img src="<%= link_to image_tag("Ohrringe.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Eule.jpg", alt: "Gallery")%>
</div>
<div class="item">
	<img src="<%= link_to image_tag("Tasche.jpg", alt: "Gallery")%>
</div>
<div class="item">
<img src="<%= link_to image_tag("Band.jpg", alt: "Gallery")%>
</div>





</div>

