<h1>File Upload</h1>
<%= start_form_tag ({:action => 'uploadFile'}) %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<%= end_form_tag %>
<%= image_tag @produkte.image_url if @produkte.image? %>