<%= form_for(@produkte,:html => {:multipart => true}) do |f| %>
  <% if @produkte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produkte.errors.count, "error") %> prohibited this produkte from being saved:</h2>

      <ul>
      <% @produkte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

   <div class="field">
  <%= f.file_field :image %>
</div>
<div class="field">
  <%= f.label :remote_image_url, "or image URL" %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
