<h1>Alle Produkte</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produktes.each do |produkte| %>
      <tr>
        <td><%= produkte.name %>
        </td>
        <td><%= image_tag produkte.image_url(:thumb) if produkte.image? %></td>
          
        
        <td><%= link_to 'Zeigen', produkte %> </td>
        <td><%= link_to 'Einfügen', edit_produkte_path(produkte) %></td>
        <td><%= link_to 'Löschen', produkte, method: :delete, data: { confirm: 'Sind Sie sich sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Bild Uploaden', new_produkte_path %>
