<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @produkte.name %><%= image_tag @produkte.image_url if @produkte.image? %>
</p>

<%= link_to 'Edit', edit_produkte_path(@produkte) %> |
<%= link_to 'Back', produktes_path %>
