   <div class="header">
    <ul class="nav nav-pills pull-right">
      <style type="text/css">
      .header li:hover{font-size:16px;}
      </style>
   <li>
        <%= link_to "Home", home_index_path %>
</li>
<% if user_signed_in? %>
  <li>
    <%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %>
  </li>
  <li>
    <%= link_to 'Angemeldet als ' + current_user.username, edit_user_registration_path %>
  </li>
<% else %>
  <li>
    <%= link_to 'Anmelden', new_user_session_path %>
  </li>
  <li>
    <%= link_to 'Registrieren', new_user_registration_path %>
  </li>
<% end %>
      <li>
        <%= link_to "Kaufen", home_about_path %>
    </li>
        <li>
        <%= link_to "Verkaufen", home_verkaufen_path %>
    </li>
  
    </ul>
    <%= link_to image_tag("LOGO.png", alt: "Gallery")%>
</div>
<link type="text/css" rel="stylesheet" href="../../assets/home.css"/>