  <div class="header">
    <ul class="nav nav-pills pull-right">
    <li class="active">
        <%= link_to "Home", home_index_path %>
    </li>
<% if user_signed_in? %>
  <li>
    <%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %>
  </li>
  <li>
    <%= link_to 'Angemeldet als ' + current_user.username, edit_user_registration_path %>
  </li>
<% else %>
  <li>
    <%= link_to 'Anmelden', new_user_session_path %>
  </li>
  <li>
    <%= link_to 'Registrieren', new_user_registration_path %>
  </li>
<% end %>
      <li>
        <%= link_to "Kaufen", home_about_path %>
    </li>
        <li>
        <%= link_to "Verkaufen", home_about_path %>
    </li>
        <li>
        <%= link_to "Impressum", home_about_path %>
    </ul>
    <h3 class="text-muted">Willkommen auf Ay.lin</h3>
</div>