<!DOCTYPE html>
<html>
<head>
  <title>HausarbeitAyLin</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<body>

<div class="container">
	<div class="header">
    <ul class="nav nav-pills pull-right">
    <li class="active">
        <%= link_to "Home", :controller => "home", :action => "index" %>
    </li>
    <li>
        <%= link_to "Anmelden", :controller => "home", :action => "about" %>
    </li>
      <li>
        <%= link_to "Kaufen", :controller => "home", :action => "about" %>
    </li>
        <li>
        <%= link_to "Verkaufen", :controller => "home", :action => "about" %>
    </li>
        <li>
        <%= link_to "Impressum", :controller => "home", :action => "about" %>
    </ul>
    <h3 class="text-muted">Willkommen auf Ay.lin</h3>
</div>

<%= render 'layouts/messages' %>
<%= yield %>
<div class="footer">
    <p>&copy; Pat & Aylin</p>
</div>
</div> <!-- /container -->

</body>
</html>
